@page
@model WebApp.Pages.UsersModel
@{
}

@section Scripts {
    <script src="~/js/pages/Users.js"></script>
}

<h1>Users</h1>
<div class="row">
    <div class="col-md-6">
        <form>
            <fieldset>
                <legend>User Form</legend>
                <div class="form-group">
                    <label for="txtId" class="form-label mt-4">User ID</label>
                    <input id="txtId" readonly type="number" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="txtUserCode" class="form-label mt-4">User Code</label>
                    <input id="txtUserCode" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtName" class="form-label mt-4">Name</label>
                    <input id="txtName" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtEmail" class="form-label mt-4">Email</label>
                    <input id="txtEmail" type="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtBirthDate" class="form-label mt-4">Birth Date</label>
                    <input id="txtBirthDate" type="date" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtStatus" class="form-label mt-4">Status</label>
                    <input id="txtStatus" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtPassword" class="form-label mt-4">Password</label>
                    <input id="txtPassword" type="password" class="form-control" />
                </div>
            </fieldset>
        </form>
        <br/>
        <button id="btnCreate" class="btn btn-primary" type="button">Save</button>
        <button id="btnUpdate" class="btn btn-info" type="button">Update</button>
        <button id="btnDelete" class="btn btn-danger" type="button">Delete</button>
    </div>

    <div class="col-md-6">
        <legend>Users List</legend>
        <table id="tblUsers" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User Code</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birth Date</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>